body{

	color: #fff;
	background: linear-gradient(.45deg, #EE7752, #E73C7E, #23A605, #23D5AB);
	background-size: 100% 100%;
	position: relative;
}
label{
	width: 150px;
	display: inline-block;
}
#Confirm{
	width: 150px;
	display: inline-block;
	left: 150px;

}
